
body,header
{
    background-color: #464d5d;
    margin: 0;
}
main 
{
    background-color: white;
}
h1,
h2 {
    font-family: 'Great Vibes', cursive;
    color: #b79067;
    text-align: center;
    font-weight: 400;
    font-size: 70px;
}
h3
{
 font-family: 'Great Vibes', cursive;
    color: #b79067;
    text-align: center;
    font-weight: 400;
    font-size: 50px;
}
hr
{
    border: 0.5px solid #d1cecb;
    width: 90%;
    margin: 20px auto;
}
.subtitulo {
    font-family: "Arimo", sans-serif;
    color: #b79067;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
}

li,
.pejemplos {
    font-family: "Arimo", sans-serif;
    color: #ffffff;
    text-align: left;
    font-weight: 400;
    font-size: 15px;
}
.pejemplos
{
    font-family: "Arimo", sans-serif;
    color: #ffffff;
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    margin-left: 20px;
}
.contenedor-consejos {

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* Espacio entre tarjetas */
    padding: 20px;
    overflow-x: auto;
    /* Scroll horizontal si no caben */
    scroll-behavior: smooth;
}

.consejos {

    background-color: #464d5d;
    border-left: 4px solid #d4af37;
    /* Un dorado elegante */
    max-width: 20vw;
    /* Evita que se estiren demasiado en pantallas enormes */
    min-height: 20vh;
    /* Altura mínima para que el texto respire */
    flex: 1 1 200px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.consejos:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.step-number {
    font-size: 0.8rem;
    font-weight: bold;
    color: #d4af37;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.contenedor-consejos::-webkit-scrollbar {
    height: 8px;
}

.perfume-sequence::-webkit-scrollbar-thumb {
    background: #c5a059;
    border-radius: 10px;
}

h4 {
    font-family: 'Great Vibes', cursive;
    color: #b79067;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
}
.productos
{
    background-color: white;
}
