@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
* {
    box-sizing: border-box;
}

body,
header {
    background-color: #464d5d;
    margin: 0;
}

main {
    background-color: white;
}

h1 {
    margin-top: 40px;
    font-family: 'Great Vibes', cursive;
    color: #b79067;
    text-align: center;
    font-weight: 400;
    font-size: 70px;
}

h2 {
    margin-top: 0;
    padding-top: 40px;
    font-family: 'Great Vibes', cursive;
    color: #b79067;
    text-align: center;
    font-weight: 400;
    font-size: 70px;
    margin: 30px;
}

h3 {
    font-family: 'Great Vibes', cursive;
    color: #b79067;
    text-align: center;
    font-weight: 400;
    font-size: 50px;
}

hr {
    border: 0.5px solid #d1cecb;
    width: 90%;
    margin: 20px auto;
}

.subtitulo {
    font-family: "Arimo", sans-serif;
    color: #b79067;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
}

p {
    font-family: "Arimo", sans-serif;
    color: #ffffff;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.contenedor-login {
    background-color: #ffffff;
    display: flex;
     min-height: 100vh;        
    margin: 40px auto;     
    padding: 20px;
     border-radius: 20px;
    font-family: Arimo, sans-serif;
}

.formulario,
.image-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario {
   padding: 0  40px ;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group {
    margin-bottom: 8px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.social-login {
    width: 100%;
    padding: 12px;
    background-color: #3a5a40;
    /* Verde oscuro similar al de la imagen */
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
}

.social-contenedor {
  display: flex;
  gap: 15px;         /* Espacio entre el botón de Google y el de Apple */
  margin-top: 15px;
  width: 100%;
}

/* El botón social en sí */
.social-btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;                 
  background-color: #464d5d; 
  color: #b79067;            
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 15px;        
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.social-btn:hover {
  background-color: #4f5769; 
}


.social-btn img {
  width: 22px;       
  height: 22px;      
  object-fit: contain;
}
.btn-signup {
    width: 100%;
    padding: 12px;
    background-color: #464d5d;
    /* Verde oscuro similar al de la imagen */
    color: #b79067;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.image-section {
    background-image: url('../../assets/Login-Registro/Tarjeta\ de\ presentación\ psicóloga\ floral\ beige.png');
    background-size: cover;
    background-position: center;
     background-position: right bottom;
    border-radius: 40px 0 0 40px;

}
.afooter
{
    padding: 10px;
    color: #b79067;
    font-family: 'Great Vibes', cursive;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}
.footer-form
{
 color: #464d5d;
}