.footer-nav
{
   background-color: #464d5d;
    color: #b79067;
     font-family: "Arimo", sans-serif;
     font-size: 14px;
    text-align: center;
    padding: 1.5rem;
    margin-top: auto;
}
.footer-items
{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 1rem;
}
.footer-items li
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
